---
import IconClose from "#assets/uswds/img/usa-icons/close.svg";
import { getCollection } from "astro:content";

import LogoBlueButton from "#assets/images/logo-bluebutton.svg";
import Link from "./link.astro";
import { PRIMARY_NAV_LINKS } from "utils/constants";

const apiDocs = (await getCollection("apiDocs")).sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder,
);
const sidenavLinks = apiDocs.map((doc) => ({
  label: doc.data.title,
  href: `/api-docs/${doc.id}`,
}));
---

<div class="position-sticky top-0 bg-white shadow-1 z-500">
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <Link
            href="/"
            title="BlueButton 2.0"
            data-tealium="navigation"
            class="display-block width-5 height-5"
          >
            <LogoBlueButton
              aria-label="BlueButton 2.0 logo"
              class="width-full height-5"
            />
          </Link>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <IconClose aria-label="close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          {
            PRIMARY_NAV_LINKS.map((link, idx) => (
              <Fragment>
                {link.href ? (
                  <li class="usa-nav__primary-item">
                    <Link
                      href={link.href}
                      class="usa-nav-link"
                      data-tealium="navigation"
                    >
                      <span>{link.label}</span>
                    </Link>
                  </li>
                ) : (
                  <li class="usa-nav__primary-item">
                    <button
                      type="button"
                      class="usa-accordion__button usa-nav__link"
                      aria-expanded="false"
                      aria-controls={`basic-nav-section-${idx}`}
                    >
                      <span>{link.label}</span>
                    </button>
                    <ul
                      id={`basic-nav-section-${idx}`}
                      class="usa-nav__submenu"
                      hidden
                    >
                      {
                        sidenavLinks.map((link) => (
                            <li class="usa-nav__submenu-item">
                              <Link
                                href={link.href}
                                class=""
                                data-tealium="main_nav"
                              >
                                {link.label}
                              </Link>
                            </li>
                        ))
                      }
                    </ul>
                  </li>
                )}
              </Fragment>
            ))
          }
        </ul>
        <div class="padding-left-1">
          <Link
            href="/api-documentation/"
            class="usa-button"
            data-tealium="navigation"
            >Get Started
          </Link>
        </div>
      </nav>
    </div>
  </header>
</div>
